* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("./Images/background-image.png");
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  align-items: center;
}
header > nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: black;
}

.header__image-container {
  display: flex;
  align-items: center;
}

.header__image-container > button {
  padding: 10% 14%;
  background: #ed017f;
  border-radius: 3px;
  color: white;
  border: none;
}

.header__image-container > img {
  height: 90%;
  margin-right: 10%;
}

/* main-container */
.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100%;
  height: auto;
}
.main-conainer__first-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0% 10% 0px 10%;
  height: 83vh;
}

.main-conainer__first-children h1 {
  font-size: 65px;
}
.car-popup-box {
  position: relative;
  left: 100%;
  z-index: 1;
  padding: 2%;
}

.car-popup-box__content {
  display: flex;
  background: white;

  width: 120px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.car-popup-box__content img {
  margin-right: 5px;
  background: white;
}

.main-conainer__first-children p {
  color: #ed017f;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.main-container__buttons-conntainer button {
  padding: 6px 16px;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  font-size: 15px;
}

.main-container__buttons-conntainer button:first-child {
  background: #ed017f;
  color: white;
  margin-right: 12px;
}

.main-container__buttons-conntainer button:last-child {
  background: transparent;
  color: #ed017f;
  margin-right: 12px;
  border: 1px solid #ed017f;
}

.main-conainer__first-children div:last-child {
  display: flex;
  align-items: center;
}

.main-conainer__first-children div:last-child span {
  display: flex;
  align-items: center;
}
.main-conainer__first-children div:last-child span img {
  margin-right: 6px;
}
.main-conainer__first-children div:last-child span + p {
  padding: 0px 10px;
}

.main-conainer__first-children div:last-child > img {
  height: 60%;
  padding: 0px 4px;
}
.main-conainer__second-children {
  height: 83vh;
  display: flex;
  align-items: end;
}
.hero-image {
  margin-top: auto;
  position: absolute;
  right: 0;
  height: 90%;
  top: 10%;
}

.home-load__box {
  z-index: 2;
  position: absolute;
  top: 35vh;
  left: 82%;
  width: 130px;
  background-color: white;

  padding: 7px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-load_content {
  color: #ed017f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
